h1{color:rgb(171, 66, 110); font-family:Bookman Old Style;}
h2{color:rgb(180, 83, 156);}
p{background-color:rgb(164, 144, 170);color:black; font-family:Bookman Old Style;}
table{background-color:rgb(118, 145, 197); color:black;}
ul{color:black;background-color:rgb(215, 140, 165);}
ol{color:white;background-color: black;}
form{background-color: black; color:rgb(206, 140, 165); font-family:Bookman Old Style;}